* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url(../assets/img/pointer/pokeball_pointer.svg) 0 0, pointer;
}

main {
  width: 100%;
  /* padding only for programming - must delet or restyle */
  padding: 3rem;
}
