* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* cursor: url(../assets/img/pointer/pokeball_pointer.svg) 0 0, pointer; */
  font-family: var(--lato), sans-serif;
}

header {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: var(--ball-red);
  border-bottom: solid 10px var(--ball-black);
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: var(--pixel2);
    padding: 1rem;
    z-index: 2;
    text-shadow: 2px 2px 0 var(--ball-white);

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      background-image: url(./assets/img/headline/eevee.svg);
      background-repeat: no-repeat;
      width: 50px;
      height: 60px;
      left: 36%;
      top: 1px;
      transform: rotate(30deg);
    }
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      background-image: url(./assets/img/headline/squirtle.svg);
      background-repeat: no-repeat;
      width: 50px;
      height: 60px;
      right: 34%;
      bottom: 0;
      transform: rotate(-5deg);
    }
  }

  .head-faces1 {
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      background-image: url(./assets/img/headline/bullbasaur.svg);
      background-repeat: no-repeat;
      width: 50px;
      height: 50px;
      left: 30%;
      bottom: 0;
      transform: rotate(-10deg);
    }
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      background-image: url(./assets/img/headline/bellsprout.svg);
      background-repeat: no-repeat;
      width: 50px;
      height: 60px;
      left: 18%;
      top: 4px;
      transform: rotate(-20deg);
    }
  }

  .head-faces2 {
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      background-image: url(./assets/img/headline/charmander.svg);
      background-repeat: no-repeat;
      width: 54px;
      height: 60px;
      bottom: 4px;
      right: 16%;
      transform: rotate(16deg);
    }
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      background-image: url(./assets/img/headline/pikachu.svg);
      background-repeat: no-repeat;
      width: 54px;
      height: 60px;
      right: 24%;
      top: 4px;
      transform: rotate(-24deg);
    }
  }
}

main {
  width: 100%;
  justify-self: center;
  display: grid;
  align-items: center;
  grid-template-rows: auto 1fr;
}

.nav-main {
  position: sticky;
  top: 100px;
  z-index: 5;

  background-color: var(--ball-black);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 8px;
  padding: var(--spacing-sm);

  .serch-container {
    color: white;
  }

  .load-more {
    color: white;
    background-color: var(--ball-red);
    font-family: var(--pixel1);
    height: 30px;
    width: 150px;
    border-radius: 8px;

    transition: transform 0.2s ease-in-out;
    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }

    &:active {
      transform: scale(1);
    }
  }
}

.pokedex {
  overflow-y: auto;
}

.loading-screen {
  margin: auto;
  border: none;
  img {
    width: 200px;
    height: 100%;
  }
}
.loading-screen::backdrop {
  opacity: 0;
}

/****************** 
Pokemon Card 
****************** */
.pokecard-dialog {
  /* position of the dialog in the middle */
  margin: auto;
}
.pokecard-dialog::backdrop {
  background: url(./assets/img/johto.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

footer {
  position: sticky;
  bottom: 0;
  z-index: 5;
}
