* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url(../assets/img/pointer/pokeball_pointer.svg) 0 0, pointer;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: var(--pixel2);
    padding: 1rem;
    z-index: 2;
    text-shadow: 2px 2px 0 var(--ball-white);

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      background-image: url(./assets/img/headline/eevee.svg);
      background-repeat: no-repeat;
      width: 50px;
      height: 60px;
      left: 36%;
      top: 1px;
      transform: rotate(30deg);
    }
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      background-image: url(./assets/img/headline/squirtle.svg);
      background-repeat: no-repeat;
      width: 50px;
      height: 60px;
      right: 34%;
      bottom: 0;
      transform: rotate(-5deg);
    }
  }

  .head-faces1 {
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      background-image: url(./assets/img/headline/bullbasaur.svg);
      background-repeat: no-repeat;
      width: 50px;
      height: 50px;
      left: 30%;
      bottom: 0;
      transform: rotate(-10deg);
    }
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      background-image: url(./assets/img/headline/bellsprout.svg);
      background-repeat: no-repeat;
      width: 50px;
      height: 60px;
      left: 18%;
      top: 4px;
      transform: rotate(-20deg);
    }
  }

  .head-faces2 {
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      background-image: url(./assets/img/headline/charmander.svg);
      background-repeat: no-repeat;
      width: 54px;
      height: 60px;
      bottom: 4px;
      right: 16%;
      transform: rotate(16deg);
    }
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      background-image: url(./assets/img/headline/pikachu.svg);
      background-repeat: no-repeat;
      width: 54px;
      height: 60px;
      right: 24%;
      top: 4px;
      transform: rotate(-24deg);
    }
  }
}

main {
  justify-self: center;
  width: 100%;
}
