.pokecard-dialog {
  background: var(--ball-white);
  min-width: 300px;
  width: 100%;
  max-width: 400px;
  height: 600px;
  padding: var(--spacing-md);
  border-radius: 16px;
  overflow: hidden;

  padding: 10px;
  border: solid 5px var(--gold-light);
  background: linear-gradient(60deg, #a9a9a9, #e8e8e8, #8e8e8e, #f0f0f0, #a9a9a9);
  background-size: 300% 300%;
  animation: shimmer-animation 10s infinite alternate ease-in-out; /*infinite for looping*/
}

@keyframes shimmer-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.pokemon-card {
  display: grid;
  grid-template-rows: 32px 200px 32px 1fr;
  gap: 8px;
  height: 100%;

  .pokemon-card--name {
    padding-left: 16px;
  }

  .pokemon-card--img-container {
    align-self: center;
    justify-self: center;
    background: linear-gradient(135deg, #f08030 0%, #c03028 100%);

    display: grid;
    place-content: center;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: relative;

    .sprite-front,
    .sprite-back {
      height: 160px;
      grid-area: 1/1;
    }
    .type {
      grid-area: 1/1;
      position: absolute;
      top: -56px;
      right: -16px;
      width: 85px;
      height: 85px;
      object-fit: cover;
    }
  }

  .pokemon-card--basic {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-content: center;
    gap: 8px;
    background: var(--gold-bg);
    box-shadow: inset 0 0 2px 1px var(--ball-grey);
    border-radius: 8px;
    padding: var(--spacing-md);
  }

  .pokemon-card--main {
    border-radius: 16px;
    background: linear-gradient(135deg, #d1d1d1 0%, /* Helles Silber */ #e8e8e8 25%, /* Glanzpunkt */ #bcbcbc 50%, /* Mittleres Grau */ #a1a1a1 75%, /* Tiefe */ #d1d1d1 100% /* Abschluss */);
    height: 100%;
    display: grid;
    grid-template-rows: 50px 1fr;

    .pokemon-card--nav {
      ul {
        justify-self: center;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;

        li {
          list-style: none;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          border-bottom: 1px solid black;

          &:hover{
            background-color: var(--gold-old);
            cursor: url(/assets/img/pointer/pokeball_pointer.svg) 15 15 , pointer;
          }
        }

        .li-left {
          border-top-left-radius: 16px;
          border-right: 1px black solid;
        }

        .li-right {
          border-top-right-radius: 16px;
          border-left: 1px black solid;
        }
        .activ {
          background-color: var(--gold-light);
          box-shadow: inset 0 0 2px 1px var(--gold-light);
        }
      }
    }
    .stats-container {
      padding: var(--spacing-sm);
      height: auto;

      .stat-container {
        display: grid;
        grid-template-columns: 1fr auto auto;
        gap: 8px;
      }
    }

    .evolution-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(50px, 100%), 1fr));

      .evolution-card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .arrow {
          height: 45px;
        }
      }
    }

    .dex-container {
      display: grid;
      grid-template-columns: 60px 1fr;
      align-items: center;
      .dex {
        width: 45px;
        height: 45px;
        object-fit: cover;
      }
    }
  }
}

.glass {
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
}
