.pokecard-dialog {
  background: var(--ball-white);
  background-color: rgba(0, 128, 0, 0.597);
  min-width: 320px;
  width: 100%;
  max-width: 400px;
  height: 600px;
  padding: var(--spacing-md);
  border: solid var(--yellow) 8px;
  border-radius: 16px;
}

.pokemon-card {
  display: grid;
  grid-template-rows: 32px 180px 32px 1fr;
  gap: 8px;

  .pokemon-card--name {
    padding-left: 16px;
  }

  .pokemon-card--img-container {
    align-self: center;
    justify-self: center;
    background: linear-gradient(135deg, #f08030 0%, #c03028 100%);
    display: grid;
    place-content: center;
    width: 100%;
    height: 100%;
    border-radius: 8px;

    .sprite-front,
    .sprite-back {
      height: 160px;
    }
  }

  .pokemon-card--basic {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-content: center;
    gap: 8px;
    background-color: var(--ball-white);
    box-shadow: inset 0 0 2px 1px var(--ball-grey);
    border-radius: 8px;
    padding: var(--spacing-md);
  }

  .pokemon-card--main {
    .pokemon-card--nav {
      ul {
        justify-self: center;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        width: 90%;
        li {
          list-style: none;
          text-align: center;
          background-color: rgb(201, 201, 201);
          width: 100%;
          height: 32px;

          &:hover {
            background-color: rgb(128, 128, 128);
          }
        }
      }
    }
  }
}
