.pokedex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-md);
  justify-self: center;
  width: 100%;
  overflow-y: auto;
}

.pokedex-card {
  display: grid;
  width: 100%;
  max-width: 500px;
  grid-template-columns: minmax(80px, 1fr) auto 2fr;
  align-items: center;
  justify-self: center;
  border-radius: 16px;
  transition: all 400ms ease-in-out;
  grid-template-areas:
    "sprite name name"
    "sprite number types";

  &:hover {
    background-color: #b9b9b9;
    transform: scale(1.04);
    box-shadow: 0 0 2px 2px var(--gold-old);
    cursor: url(/assets/img/pointer/pokeball_pointer.svg) 15 15, pointer;
  }
}

.pokedex-sprite {
  width: 100px;
  height: 100px;
  object-fit: cover;
  grid-area: sprite;
}

.pokedex-name {
  font-family: var(--pixel2);
  grid-area: name;
}

.pokedex-number {
  font-family: var(--pixel2);
  grid-area: number;
}

.pokedex-types {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  grid-area: types;
}

.type {
  background-position: center;
  background-repeat: no-repeat;
  max-width: 80px;
  width: 100%;
  height: 45px;
}

.bug {
  background-image: url(../assets/img/type_classic/bug.svg);
}

.dark {
  background-image: url(../assets/img/type_classic/dark.svg);
}

.dragon {
  background-image: url(../assets/img/type_classic/dragon.svg);
}

.electric {
  background-image: url(../assets/img/type_classic/electric.svg);
}

.fairy {
  background-image: url(../assets/img/type_classic/fairy.svg);
}

.fighting {
  background-image: url(../assets/img/type_classic/fight.svg);
}

.fire {
  background-image: url(../assets/img/type_classic/fire.svg);
}

.ghost {
  background-image: url(../assets/img/type_classic/ghost.svg);
}

.grass {
  background-image: url(../assets/img/type_classic/grass.svg);
}

.ground {
  background-image: url(../assets/img/type_classic/ground.svg);
}

.ice {
  background-image: url(../assets/img/type_classic/ice.svg);
}

.flying {
  background-image: url(../assets/img/type_classic/flying.svg);
}

.normal {
  background-image: url(../assets/img/type_classic/normal.svg);
}

.poison {
  background-image: url(../assets/img/type_classic/poison.svg);
}

.psychic {
  background-image: url(../assets/img/type_classic/psycho.svg);
}

.rock {
  background-image: url(../assets/img/type_classic/rock.svg);
}

.steel {
  background-image: url(../assets/img/type_classic/steel.svg);
}

.water {
  background-image: url(../assets/img/type_classic/water.svg);
}
